.spacer {
  width: 4%;
}
.td-data {
  text-align: left;
  width: 48%;
}
th {
  text-align: right;
}
td {
  font-weight: bold;
}
.font-size-message {
  font-size: 1.8rem;
}
.font-size-table {
  font-size: 1.1rem;
}
.font-size-access {
  font-size: 2rem;
}
.text-denegado {
  color: #7b0000!important;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg-logo {
  background: url('../img/logo_azul.png'), black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.info-bar {
  position: absolute;
  top: 3px;
  left: 3px;
}
.img{
  background: gray;
  margin-top: 5px;
  height: 350px;
  width: 350px;
}
.card{
  width: 60%;
  display: block;
  margin: 2% auto;
}
.card-title{
  font-size: 2rem;
  font-weight: bold;
}
.btn-primary{
 display: block;
  margin: 0 auto;
  width: 50%;
}
.fab{
padding: 5px;
font-size: 28px;
}
.fab:hover{
color:#e91e63;

}
.btn-primary:hover{
background: #F1C40F;
border-color: #F1C40F;
}
@media(max-width: 380px){
.card{
width: auto;
}
}

/* HIDE NUMBER INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}