th {
    text-align: right;
    width: 48%;
}
.spacer {
    width: 4%;
}
.td-data {
    text-align: left;
    width: 48%;
}
body {
    background: url('../img/logo_azul.png'), black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.info-bar {
    position: absolute;
    top: 3px;
    left: 3px;
}
.img{
    background: gray;
    border-radius: 4px 4px 0 0;
    margin-top: -1px;
    margin-left: -1px;
    height: 350px;
    width: 350px;
}
.card{
  width: 350px;
  display: block;
  margin: 0 auto;
}
.btn-primary{
   display: block;
  margin: 0 auto;
  width: 50%;

}
.fab{
  padding: 5px;
  font-size: 28px;
}
.fab:hover{
  color:#e91e63;

}
.btn-primary:hover{
  background: #F1C40F;
  border-color: #F1C40F;
}
@media(max-width: 380px){
.card{
  width: auto;
}
}